
  .header-cont {
      background-color:hsla(215, 63%, 55%, 0.4);
  }


  .header-nav {
      display: flex;
      max-width: 1088px;
      width: 100%;
      margin: 0 auto;
      padding-top: 20px;
      justify-content: space-between;
      align-items: center;
  }


  .nav-ul {
      display: flex;
  }

  .logo {
      height: 45px;
  }

  .logo-a {
      color: #fff;
      font-weight: bolder;
      font-size: 40px;
  }

  

  .ul-a {
      color: #fff;
      font-size: 18px;
      padding-bottom: 10px;
  }
  
  .ul-li:nth-child(2),
  .ul-li:nth-child(3),
  .ul-li:nth-child(4)
   {
      margin-left: 15px;
  }

  .ul-li:nth-child(5) {
      margin-left: 30px;
      
  }

  

  .ul-li:nth-child(5)::after {
      content: " ";
      width: 2px;
      height: 18px;
      background-color: #fff;
      display: inline-block;
      vertical-align: middle;
      margin-left: 5px;
      margin-right: 10px;
  }

  .ul-a:hover {
      border-bottom: 2px solid #fff;
    }

  .navigation {
      display: flex;
  }

    .nav-lang {
        margin-left: 60px;
        display: flex;
        
    }



  .water {
    position: relative;
    width: 100vw;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    transform: translate3d(0, 0, 0);
  }
  

  
  .ripple-one {
    position: absolute;
    top: 20%;
    max-width: 525px;
    width: 100%;
    height: 525px;
    border-radius: 45%;
    transform-origin: 50% 48%;
    animation: water 5s infinite linear;
    background: hsla(212, 64%, 72%, 0.7);
    z-index: 3;
    transform: translate3d(0, 0, 0);
  }
  
  .ripple-two {
    position: absolute;
    max-width: 500px;
    width: 100%;
    height: 500px;
    border-radius: 42%;
    top: 20%;
    transform-origin: 50% 48%;
    animation: water 4s infinite linear;
    background: hsla(212, 64%, 72%, 0.4);
    z-index: 2;
  }
  
  .ripple-three {
    position: absolute;
    top: 20%;
    max-width: 650px;
    width: 100%;
    height: 650px;
    border-radius: 45%;
    transform-origin: 50% 48%;
    animation: water 6s infinite linear;
    background: hsla(214, 55%, 73%, 0.4);
    z-index: 1;
  }


  .text {
    color: white;
    position: absolute;
    top: 50%;
    font-size: 28px;
    font-family: Source Sans Pro;
    font-weight: 300;
    text-align: center;
    letter-spacing: 0.7em;
    animation: spacing 4s ease-out alternate infinite;
    animation-delay: -5s;
    z-index: 6;
  }
  
  @keyframes water {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  
  @keyframes spacing {
    0% {	letter-spacing: 0.8em; margin-left: 0.7em; }
    100% { letter-spacing: 1em; margin-left: 1em;}
  }