.contact-header {
    width: 100vw;
    .header-cont {
        background: #fff;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 9;
        opacity: 0.97;
        .header-nav {
            display: flex;
            
            .burger-icon {
                display: none;
                @media (max-width: 700px) {
                        color: $blue-col;
                        display: block;
                        font-size: 25px;
                        cursor:pointer;
                        position: absolute;
                        right: 20px;
                        top: 50px;
                        
                    
                }
            }

            

            .header-wrapper-media {
                
                @media (max-width: 700px) {
                    flex-direction: column;
                    align-items: flex-start;
                }
                
                @extend %header-nav-par;
                
                .w3-animate-left {
                    @extend %animation-left;
                }
                .logo {
                    
                    
                  
                    
                   .logo-a {
                       img {
                           width: 150px;
                           
                       }
                   }
                }

                .navigation {
                    @media (max-width: 1125px) {
                        padding-right: 20px;
                    }
                    @media (max-width: 700px) {
                        position: relative;
                        left: 50%;
                        transform: translate(-50%);
                        text-align: center;
                        padding-right: 0;
                        padding-bottom: 20px;
                        
                    }
                    .w3-animate-right {
                        @extend %animation-right;
                    }
                    display: flex;
                
                    
                    nav {
                        .nav-ul {
                            @media (max-width: 700px) {
                                display: none;
                            }
                            display: flex;
                            align-items: center;
                            
                            .ul-li {
                                // hover tree menu on products
                                &:nth-child(3):hover {
                                    display: block;
                                    .nested {
                                        background-color: #fff;
                                        max-width: 165px;
                                        width: 100%;
                                        height: 230px;


                                        opacity: 0.9;
                                        display: flex;
                                        flex-direction: column;
                                        position: absolute;
                                        top: 25px;
                                        z-index: 10;
                                        @media (max-width: 700px) {
                                            margin-top: 120px;
                                            width: 165px;
                                            text-align: start;
                                        }
                                        .nested-li {
                                            &:nth-child(1) {
                                                padding-top: 10px;
                                            }


                                            &:nth-child(2),
                                            &:nth-child(3),
                                            &:nth-child(4),
                                            &:nth-child(5),
                                            &:nth-child(6) {
                                                padding-top: 20px;
                                            }
                                            .nested-a {
                                                transition: all 0.4s;
                                                padding-left: 10px;
                                                @extend %ul-li-par;
                                                
                                        
                                            }
                                            .nested-a{
                                                &:hover {
                                                    padding-left: 20px;
                                                }
                                            }
                                        }
                                    }
                                }
                                // end of hover tree menu on products






                                // clickable tree menu on product
                                &:nth-child(3) {
                                    height: 28px; 
                                    .nested {
                                        display: none;
                                        background-color: #fff;
                                        max-width: 165px;
                                        width: 100%;
                                        height: 230px;
                                        
                                    }
                                    
                                    .active {
                                        
                                        opacity: 0.9;
                                        display: flex;
                                        flex-direction: column;
                                        position: absolute;
                                        top: 30px;
                                        z-index: 10;
                                        @media (max-width: 700px) {
                                            margin-top: 120px;
                                            width: 165px;
                                            text-align: start;
                                        }
                                        .nested-li {
                                            &:nth-child(1) {
                                                padding-top: 10px;
                                            }


                                            &:nth-child(2),
                                            &:nth-child(3),
                                            &:nth-child(4),
                                            &:nth-child(5),
                                            &:nth-child(6) {
                                                padding-top: 20px;
                                            }
                                            .nested-a {
                                                transition: all 0.4s;
                                                padding-left: 10px;
                                                @extend %ul-li-par;
                                                
                                        
                                            }
                                            .nested-a{
                                                &:hover {
                                                    padding-left: 20px;
                                                }
                                            }
                                        }
                                        
                                    }
                                }
                                // end of clickable tree menu on product
                                &:nth-child(2),
                                &:nth-child(3),
                                &:nth-child(4) {
                                    margin-left: $p-20;
                                }

                                &:nth-child(2),
                                &:nth-child(3),
                                &:nth-child(4) {
                                    @media (max-width: 700px) {
                                        margin-top: 20px;
                                        margin-left: 0;
                                    
                                    }
                                }

                                .nested-li-a {
                                       
                                    @media (max-width: 700px) {
                                        padding-bottom: 5px;
                                    }
                                    @extend %ul-li-par;
                                }
                                
                                .ul-a {
                                    // navigation hover effect
                                    &::after {
                                        content: '';
                                        display: block;
                                        width: 0;
                                        height: 2px;
                                        background: $blue-col;
                                        transition: width .3s;
                                        margin-top: 10px;
                                    }
                                    &:hover::after {
                                        width: 100%;
                                    }
                                

                                    // end of navigation hover effect
                                    transition: all 0.4s;
                                    transition-timing-function: linear;
                                    @media (max-width: 700px) {
                                        padding-bottom: 5px;
                                    }
                                    @extend %ul-li-par;
                                    
                                }
                                // .lang-a {
                                //     @extend %lang-par;
                                // }
                            }
                        }
                        .nav-ul.open-menu {
                            @media (max-width: 700px) {
                            display: block;
                                margin-top: 30px;
                            }
                        }
                    }
                }
            }
        }
        

    } 
}





.contact-section {
    @media (max-width: 1130px) {
        margin-bottom: 600px;
    }
    @media (max-width: 570px) {
        margin-bottom: 700px;
    }
    margin-top: 200px;
    margin-bottom: 200px;
    height: 100vh;
    .contact-div {
        
        margin-top: 80px;
        @extend %contact-div-par;
        .contact-form {
            @media (max-width: 1090px) {
                max-width: 1090px;
                width: 100%;
            }
            .w3-animate-bottom {
                @extend %animation-bottom;
            }
            .form-title {
                @media (max-width: 1090px) {
                    max-width: 1090px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                }
                display: flex;
                align-items: center;
                justify-content: center;
                h2 {
                   
                    font-size:30px;
                    color: #fff;
                    max-width: 190px;
                    width: 100%;
                    margin: 0 auto;
                    letter-spacing: 0.1em;
                    
                    
                }
                @extend %contact-title-par;
            }
            .w3-animate-left {
                @extend %animation-left;
            }
            .container {
                @media (max-width: 1130px) {
                    flex-direction: column;
                    align-items: center;
                    
                }
                
                display: flex;
                justify-content: space-between;
                .form-container{
                    
                    
                    .user-cred {
                        @media (max-width: 570px) {
                            flex-direction: column;
                        }
                        display: flex;
                        .user-lab {
                            .user-div {
                                label {
                                    color: $blue-col;
                                    font-size: 18px;
                                    span {
                                        color: #B20000;
                                    }

                                }
                            }
                            
                            #unamel {
                               
                                @extend %user-input-par;
                            }

                            #unamel:focus {
                                @extend %user-input-foc-par;
                            }

                            
                        }
                        .surname-lab {
                            @media (max-width: 570px) {
                                margin-top: 15px;
                            }
                            .surname-div {
                                label {
                                    color: $blue-col;
                                    font-size: 18px;
                                    span {
                                        color: #B20000;
                                    }
                                }
                            }
                            #sname {
                               
                                @extend %surname-input-par;
                            }

                            #sname:focus {
                                @extend %surname-input-focus;
                            }
                        }
                    }
                    .email-lab {
                        margin-top: 20px;
                        .email-div {
                            label {
                                color: $blue-col;
                                font-size: 18px;
                                span {
                                    color: #B20000;
                                }
                            }
                            
                        }
                        #etext {
                            @media (max-width: 570px) {
                                max-width: 250px;
                                width: 100%;
                            }
                            @extend %email-input-par;
                        }

                        #etext:focus {
                            @extend %email-focus-par;
                        }
                    }
                    .subj-lab {
                        margin-top: 20px;
                        .subj-div {
                            label {
                                color: $blue-col;
                                font-size: 18px;
                                span {
                                    color: #B20000;
                                }
                            }
                        }
                        #stext {
                            @media (max-width: 570px) {
                                max-width: 250px;
                                width: 100%;
                            }
                            @extend %subj-input-par;
                        }

                        #stext:focus {
                            @extend %subj-focus-par;
                        }
                    }
                    .text-area-in {
                        margin-top: 20px;
                        .text-area-div {
                            label {
                                color: $blue-col;
                                font-size: 18px;
                                span {
                                    color: #B20000;
                                }
                            }
                        }
        
                        #atext {
                            @media (max-width: 570px) {
                                max-width: 350px;
                                width: 100%;
                            }
                        @extend %text-area-par;
                        }

                        #atext:focus {
                            @extend %text-area-focus-par;
                        }

                        
                    }
                    .div-send {
                        margin-top: 20px;
                        #btext {
                            @extend %submit-par;
                        }

                        #btext:hover {
                            @extend %submit-hover;
                        }
                        
                    }
                }
                .container-map-info {
                    @media (max-width: 1130px) {
                        margin-top: 50px;
                        margin-bottom: 50px;
                    }
                    @media (max-width: 570px) {
                        max-width: 350px;
                        width: 100%;
                        
                    }
                    @media (max-width: 400px) {
                        max-width: 280px;
                        width: 100%;
                    }
                    max-width: 500px;
                    width: 100%;
                    .cont-map {
                        
                        iframe {
                            filter: invert(90%);
                            max-width: 500px;
                            width: 100%;
                            height: 300px;
                            border: none;
                        }
                    }
                    .cont-info {
                        margin-top: 20px;
                        .info-par {
                            @extend %info-div-par;
                            .info-a {
                                @media (max-width: 415px) {
                                    font-size: 13px;
                                }
                                @extend %info-a-par;
                            }
                            &:nth-child(1) .info-a {
                                margin-left: 65px;
                            }

                            &:nth-child(2) .info-a {
                                margin-left: 48px;
                            }

                            &:nth-child(3) .info-a {
                                margin-left: 30px;
                            }

                            &:nth-child(2) {
                                margin-top: 15px;
                            }

                            &:nth-child(3) {
                                margin-top: 15px;
                            }
                        }

                    }
                }
            }  
        }
    }
}