.sec-one {
    
      
    .sec-one-div {
        position: relative;

        // sec-one-h2 (h2 border bottom element) animation
        // scrolldown.js file
        .hide-l {
            opacity: 0;
            left: -100%;
        }
        .show-l {
            opacity: 1;
            left: 0;
        }
        // end of sec-one-h2 border bottom animation



        // section-one h2 scroll animation 
        //h2-scroll.js file
        .hide-b {
            opacity: 0;
            bottom: -100px;
        }

        .show-b {
            opacity: 1;
            bottom: 0;
        }
        // end on section-one h2 scroll animation 
        
        
        @extend %sec-one-container;

        
        .sec-one-h2-div {
           
            
            position: relative;
            margin-bottom: 20px;
            transition: all 0.8s;
            h2 {
                @extend %sec-one-h2;
            }
        }
        .w3-animate-bottom {
            @extend %animation-bottomh2;
        }
        .sec-one-h2 {
            position: relative;
            transition: all 0.8s;
            border-bottom: 2px solid $soft-blue;
            max-width: 1088px;
            width: 100%;
        }
        .w3-animate-left {
            @extend %animation-left;
        }

        .product-list {
                @extend %product-list-par;
                // list-one animation parameters
                // scroll-list-t.js file
                .show-box-l {
                    opacity: 1;
                    left: 0;

                }

                .hide-box-l {
                    opacity: 0;
                    left: -100%;
                }
                // end of list-one animation parameters




                // list-two animation parameters
                // scroll-list-r.js file
                .show-box-r {
                    opacity: 1;
                    right: 0;

                }

                .hide-box-r {
                    opacity: 0;
                    right: -100%;
                }
                // end of list-two animation parameters




                // list-three animation parameters
                // scroll-list-bottom-l.js file
                .show-box-l-bottom {
                    opacity: 1;
                    left: 0;
                }

                .hide-box-l-bottom {
                    opacity: 0;
                    left: -100%;
                }
                // end of list-three animation parameters




                // list-four animation parameters
                // scroll-list-bottom-r.js file
                .show-box-r-bottom {
                    opacity: 1;
                    right: 0;
                }

                .hide-box-r-bottom {
                    opacity: 0;
                    right: -100%;
                }
                // end of list-four animation parameters


                .list-one {
                    position: relative;
                    transition: all 0.9s;
                    @extend %list-par;

                    .box-one {
                        
                        .box-one-cont {
                            
                            display: flex;
                            .product-p {
                                @extend %product-p-par;
                            }
                        }
                        .r-more {
                            @extend %read-more-par;
                            .read-a {
                                @extend %read-a-par;
                            }
                        }
                    }
                }
                .list-two {
                    position: relative;
                    transition: all 0.9s;
                    @extend %list-par;

                    .box-two {
                        
                        .box-two-cont {
                            display: flex;
                            .product-p {
                                @extend %product-p-par;
                            }
                        }
                        .r-more {
                            @extend %read-more-par;
                            .read-a {
                                @extend %read-a-par;
                            }
                        }
                    }
                }
                
            
              
                .list-three {
                    position: relative;
                    transition: all 0.9s;
                    @extend %list-par;

                    .box-three {
                        .box-three-cont {
                            display: flex;
                            .product-p {
                                @extend %product-p-par;
                            }
                        }
                        .r-more {
                            @extend %read-more-par;
                            .read-a {
                                @extend %read-a-par;
                            }
                        }
                    }
                }
                .list-four {
                    position: relative;
                    transition: all 0.9s;
                    @extend %list-par;

                    .box-four {
                        .box-four-cont {
                            display: flex;
                            .product-p {
                                @extend %product-p-par;
                            }
                        }
                        .r-more {
                            @extend %read-more-par;
                            .read-a {
                                @extend %read-a-par;
                            }
                        }
                    }
                }
            
        }
    }
}