.tanks-section{
    height: 100vh;
    margin-top: 200px;
    .tanks-container {
        max-width: 1088px;
        width: 100%;
        margin: $m-center;
        display: flex;
        .tanks-img {
            img {
                max-width: 500px;
                width: $w-100;
                
            }
        }

        .tanks-info {
            margin-left: 100px;
            ul {
                
                
                li {
                    color: $blue-col;
                    font-size: 20px;
                    &::before {
                        @extend %circle;
                    }
                    
                }
            }
        }
    }
}