// header animations

@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

@keyframes ripples {
  to {
    transform: scale(4);
    opacity: 0;
  }
}


// w3 animations
  @keyframes animateleft{
    from{left:-700px;opacity:0} 
    to{left:0;opacity:1}
  }

  @keyframes animateright{
    from{left:700px;opacity:0} 
    to{left:0;opacity:1}
  }

  @keyframes animatebottom{
    from{bottom:-700px;opacity:0} 
    to{bottom:0;opacity:1}
  }

  @keyframes animatebottomh2 {
    from{bottom:-300px;opacity:0} 
    to{bottom:0;opacity:1}
  }