
// header navigation
%header-nav-par {
      display: flex;
      max-width: 1088px;
      width: $w-100;
      padding-top: 20px;
      padding-bottom: 20px;
      margin: $m-center;
      justify-content: space-between;
      align-items: center;
      
      
}



// navigation hover effect
%hover-effect {
    transition-property: all;
    transition-duration: 0.8s;
    transition-timing-function: ease-in-out;
}


// li parameters
%ul-li-par {
    color: $soft-blue;
   
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 10px;
    letter-spacing: 0.1em;
}


// lang col-size
%lang-par {
    color: $soft-blue;
    font-size: 16px;
}


// logo parameters
%logo-par {
    color: 	$soft-blue;
    font-weight: bolder;
    font-size: $p-40;
}





// Pseudo divider for lang
// %divider {
//     content: " ";
//       width: 1.5px;
//       height: 18px;
//       background-color: #8ab5e5;
//       display: inline-block;
//       vertical-align: middle;
//       margin-left: 5px;
//       margin-right: 10px;
// }

//about content
    //water animation
    %water-animation {
        position: relative;
        max-width: 425px;
        width: 100%;
        display: flex;
        justify-content: center;
        transform: translate3d(0, 0, 0);
        
    }

    //ripple one animation
    %ripple-one-animation {
        position: absolute;
        top: 0;
        max-width: 425px;
        width: 100%;
        height: 425px;
        border-radius: 45%;
        transform-origin: 50% 48%;
        animation: water 5s infinite linear;
        background: linear-gradient(60deg, #7087d4 0%, #00acc1 100%);
        z-index: 5;
        transform: translate3d(0, 0, 0);
    }

    //text animation
    %text-animation {
        color: #fff;
        position: absolute;
        top: 35%;
        font-size: 25px;
        font-weight: 300;
        text-align: center;
        letter-spacing: 0.7em;
        animation: spacing 4s ease-out alternate infinite;
        animation-delay: -5s;
        z-index: 6;
        line-height: 2em;
    }


// animation
    //// HEADER ANIMATION WAVES
        %header {
            position:relative;
            text-align:center;
            background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
            color:white;
        }

        %inner-header {
            height:65vh;
            width:100%;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            
            font-weight: 700;
            font-size: 48px;
            letter-spacing: 0.1em;
        }

        %waves {
            position:relative;
            width: 100%;
            height:15vh;
            margin-bottom:-7px;
            min-height:100px;
            max-height:150px;
        }

        
    



    // section one
    %sec-one-container {
        max-width: 1088px;
        width: $w-100;
        margin: 100px auto 100px auto;
    }

        // h2
        %sec-one-h2 {
            color: $soft-blue;
            font-size: 40px;
            width: 285px;
            margin: 0 auto;
            letter-spacing: 0.1em;
            
        }

        // product list
        %product-list-par {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        // list
        %list-par {
            margin-top: 100px;
            max-width: 536px;
            width: $w-100;
            height: 253px;
            border-radius: 20px;
            background: $blue-col;
        }

        // product-p 
        %product-p-par {
            margin-left: 50%;
            transform:translate(-50%);
            margin-top: $p-20;
            color: #fff;
            font-size: 25px;
            white-space: nowrap;
        }

        // read-more
        %read-more-par {
            max-width: 112px;
            width: $w-100;
            margin-top: 180px;
            margin-left: 400px;
        }

        // read-a 
        %read-a-par {
            color: #fff;
            font-size: 15px;
        }



// contact
        // contact-div
        %contact-div-par {
            max-width: 1088px;
            width: $w-100;
            margin: $m-center;
            display: flex;
            justify-content: space-between;

        }


        // form
             // contact title
             %contact-title-par {
                margin-bottom: 80px;
                border-bottom: 2px solid $soft-blue;
                width: 1088px;
               
            }


            // user input
            %user-input-par {
                margin-right: 20px;
                width: 250px;
                height: 44px;
               
                margin-top: 15px;
                border: none;
                border-bottom: 2px solid #ddd;
                color: rgb(143, 141, 141);
                font-size: 15px;
                padding-left: 5px;
            }

            // user input focus
            %user-input-foc-par {
                
                border-color: $soft-blue;
                outline: none;
            }

            // surname input
            %surname-input-par {
                width: 250px;
                height: 44px;
                border: none;
                margin-top: 15px;
                border-bottom: 2px solid #ddd;
                color: rgb(143, 141, 141);
                font-size: 15px;
                padding-left: 5px;
            }

            //surname input focus
            %surname-input-focus {
                border-color: $blue-col;
                outline: none;
            }


            // email input
            %email-input-par {
                width: 520px;
                height: 44px;
                border: none;
                margin-top: 15px;
                border-bottom: 2px solid #ddd;
                color: rgb(143, 141, 141);
                font-size: 15px;
                padding-left: 5px;
            }

            // email focus
            %email-focus-par {
                border-color: $soft-blue;
                outline: none;
            }


            // subject parameter
            %subj-input-par {
                width: 520px;
                height: 44px;
                border: none;
                margin-top: 15px;
                border-bottom: 2px solid #ddd;
                color: rgb(143, 141, 141);
                font-size: 15px;
                padding-left: 5px;
            }
            
            // subject focus 
            %subj-focus-par {

                border-color: $soft-blue;
                outline: none;
            }


            // text area parameter
            %text-area-par {
                width: 520px;
                height: 250px;
                margin-top: 15px;
                border: 2px solid #ddd;
                resize: none;

                color: rgb(143, 141, 141);
                font-size: 15px;
                
            }

            // text area focus
            %text-area-focus-par {
                border-color: $soft-blue;
                outline: none;

               
            }

            // submit parameter
            %submit-par {
                width: 160px;
                height: 47px;
                background-color: $soft-blue;
                color: #fff;
                border-radius: 50px;
                border: 2px solid $soft-blue;
                font-size: 17px;
                cursor: pointer;
            }

            // submit hover {
                %submit-hover {
                    opacity: 0.8;
                }



            // contact info
            %info-div-par {
                color: rgb(165, 164, 164);
                font-size: 19px;
                
            }

            %info-a-par {
                color: $soft-blue;
                font-size: 20px;
            }


// footer 
%footer-par {
    
    background: $blue-col;
    width: 100%;
    height: 260px;  
    
    
}
           
    // footer container
    %f-container-par {
        max-width: 1088px;
        width: 100%;
        margin: 0 auto;
        
    }
            
    // footer logo 
    %footer-logo-par {
        color: 	#fff;
        font-weight: bolder;
        font-size: $p-40;
    }
            
    // animation parameters
    %animation-bottom {
        position:relative;
        animation:animatebottom 1s;
    }

    %animation-bottomh2 {
        position:relative;
        animation:animatebottomh2 1s;
    }



    %animation-left {
        position:relative;
        animation:animateleft 1s;
    }


    %animation-right {
        position:relative;
        animation:animateright 1s;
    }

   